[run]
source = babeltron
omit = 
    */tests/*
    */test/*
    */venv/*
    */.venv/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov 